.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  height: 500px;
  object-fit: cover;
}
